In [ ]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
from lifetimes import BetaGeoFitter, GammaGammaFitter
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
ecomm_df = pd.read_excel('NoA-Connect-JrDataScience-Case.xlsx', parse_dates=['order_date'])

In [20]:
ecomm_df.head()

,order_id,purchase_amount,currency,order_date,customer_id
0,06c4bd28-eda3-42df-b819-aa19157a7d45,15.29,EUR,2025-01-22,835ec885-114a-4f7f-b2a4-d7b45dc74411
1,3daaf5f9-b2c2-457a-9abf-330e279fc5c0,37.19,EUR,2025-01-22,74093a26-a976-42f8-b5c1-fcef1faebe9c
2,33e1834f-db37-4a99-9be5-e45886b4dfd4,56.37,EUR,2025-01-22,a27631c8-3fbd-4ace-a46f-c65b2c5928d2
3,0b51225c-0ffe-4b4a-990b-f266f58e51aa,24.19,EUR,2025-01-22,2d5c1cad-07eb-439f-8ffa-9cd8ced6cea2
4,8d635007-5ab8-4680-988a-6ac5a93ea14b,24.79,USD,2025-01-22,48a9bdca-dbf9-41b3-be54-93cf62d257da

In [21]:
ecomm_df.describe()

       purchase_amount                     order_date
count     51948.000000                          51948
mean         56.697919  2024-05-30 02:21:20.665280768
min           0.000000            2023-01-01 00:00:00
25%          17.140000            2024-02-19 00:00:00
50%          25.190000            2024-06-21 00:00:00
75%          41.980000            2024-10-06 00:00:00
max       13976.400000            2025-01-22 00:00:00
std         207.860065                            NaN

In [22]:
ecomm_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51948 entries, 0 to 51947
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   order_id         51948 non-null  object
 1   purchase_amount  51948 non-null  float64
 2   currency         51948 non-null  object
 3   order_date       51948 non-null  datetime64[ns]
 4   customer_id      51948 non-null  object
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 2.0+ MB

In [23]:
ecomm_df.shape

(51948, 5)

In [24]:
login_counts = ecomm_df['customer_id'].value_counts()
single_logins = (login_counts == 1).sum()
print("The number of single logins are:", single_logins)

The number of single logins are: 4505

In [25]:
ecomm_df.nunique()

order_id           51948
purchase_amount     7067
currency               3
order_date           750
customer_id         7373
dtype: int64

In [26]:
big_spenders = ecomm_df[ecomm_df['purchase_amount'] > 8000]['customer_id'].unique()
print(big_spenders)

['a01b746c-88c9-45e2-ad7a-6ef25d10c7d8'
 '9e4062c6-2573-4d82-b0c6-f9f29978dc9e'
 '919cdf1c-443c-495c-b2de-f96cdd121a71']